{{define "bottom"}}
<footer>
    <p style="text-align: center">this website does not use cookies, <i>hooray!</i><br>
    <a href="https://github.com/Alvaroalonsobabbel/jobber" target="_blank"><img src="data:image/png;base64,{{template "github-logo.base64"}}" width="15" height="15" /></a></p>
</footer>
</body>
</html>
{{end}}
