name: Test

on:
    pull_request:
        paths-ignore:
            - "**/README.md"
            - "**/.gitignore"
            - "doc/**"
            - "bin/**"

jobs:
    Test:
        runs-on: ubuntu-latest

        steps:
            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                  go-version: stable

            - name: Check out code into the Go module directory
              uses: actions/checkout@v3

            - name: Get dependencies
              run: go mod download

            - name: golangci-lint
              uses: golangci/golangci-lint-action@v9
              with:
                  version: v2.6

            - name: Run tests
              run: make check

            - name: Install migrate
              run: |
                curl -L https://github.com/golang-migrate/migrate/releases/download/v4.19.1/migrate.linux-amd64.tar.gz | tar xvz
                sudo mv migrate /usr/local/bin/migrate

            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: lts/*

            - name: Install dependencies
              run: npm ci

            - name: Install Playwright Browsers
              run: npx playwright install --with-deps

            - name: Run Playwright tests
              run: npx playwright test

            - uses: actions/upload-artifact@v4
              if: ${{ !cancelled() }}
              with:
                  name: playwright-report
                  path: playwright-report/
                  retention-days: 30
